{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4 bg-white">
                {% for manufacturer in manufacturers %}
                    <form action="{% url 'threads:add_thread_project' manufacturer.slug %}" method="get">
                        <input type="hidden" name="project_id" value="{{ project }}">
                        <button type="submit" class="btn btn-outline-secondary btn-lg d-grid col-8 mx-auto my-2">
                            {{ manufacturer.name }}
                        </button>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}