{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div>
            <h3 class="text-center mb-1">Коробка с нитками</h3>
        </div>
        <div>
            <h5 class="text-center mb-1">Общее количество ниток: {{ total_color }}</h5>
        </div>
        <div>
            <h5 class="text-center mb-1">Общее количество мотков: {{ total_quantity }}</h5>
        </div>
        <div>
            <form action="{% url 'threads:manufacturers_stock' %}" method="get">
                <button type="submit" class="btn btn-outline-secondary d-grid col-6 mx-auto">
                    Добавить нитку
                </button>
            </form>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 my-2">
                <input type="text" class="form-control" placeholder="Фильтр" aria-label="Username"
                       aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 bg-white">
                {% for stock_thread in stock_threads %}
                    <div class="card p-2 my-2">
                        <div class="row g-0 align-items-center">
                            <div class="col-8">
                                {% if stock_thread.thread.image %}
                                    <img src="{{ stock_thread.thread.image.url }}" class="card-img-left"
                                         style="width: 50px; height: 50px;" alt="...">
                                {% else %}
                                    <img src="{% static "images/Not found image.jpg" %}" class="card-img-left"
                                         style="width: 50px; height: 50px;" alt="...">
                                {% endif %}
                                {{ stock_thread.thread.manufacturer }}
                                {{ stock_thread.thread.article }}{% if stock_thread.thread.name %}:
                                    {{ stock_thread.thread.name }}{% endif %}
                            </div>
                            <div class="col-auto">
                                Количество: {{ stock_thread.quantity }}
                                <div class="row g-1">
                                    <div class="col-auto">
                                        <form action="{% url 'threads:thread_stock_update' stock_thread.id %}"
                                              method="get">
                                            <button type="submit" class="btn btn-outline-secondary btn-sm">
                                                Изменить
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-secondary btn-sm">
                                                В корзину
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <form action="{% url 'threads:thread_stock_delete' stock_thread.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-outline-secondary btn-sm"
                                                    onclick="return confirm('Вы хотите удалить нитку?');">Удалить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <!-- Облагородить вывод -->
                    <p>Ниток нет.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}